# goals.config
#
#DOC: Did the test artifacts demonstrate the required net-dmz firewall policy?
net_dmz_correct = boolean : (cw_remote_ssh and cw_remote_http and cw_remote_https and_not cw_remote_mysql and_not cw_remote_ws2 and cw_local_ssh and cw_local_http and cw_local_https and cw_local_mysql and cw_reach_internet)
