_postgres = matchany : string_equal : postgres_open : answer=open
_ssh = matchany : string_equal : ssh_open : answer=open
check_port_ok = time_before : _ssh : _postgres
pg_login_pw_ok = time_before : _pg_login_exploit : _pg_login_pw
psql_passwd_read_ok = time_before : _pg_login_pw : _psql_passwd_copy
get_pubkey_ok = time_before : _psql_authorized_keys_copy : _get_pubkey_ok
udf_exploit_ok = matchany : string_equal : _msf_fileview : parameter.FSTRING
private_key_found_ok = time_before : _get_pubkey_ok : _find_private_key
_ssh_fileview_ok = matchany : string_equal : _ssh_fileview : parameter.FSTRING
_msf_fileview_ok = matchany : string_equal : _msf_fileview : parameter.FSTRING
ssh_login_ok = time_before : _find_private_key : _ssh_fileview_ok
