# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Assess if the learner accessed forgotten developer backup (Task 6).
_forgotten = boolean : (forgotten and forgotten)
#DOC: Assess if the learner was successful in forging JWT token or logging in as admin (Task 10).
_login_admin = boolean : (login_admin and login_admin)
#DOC: Assess if the learner generated the ZAP report (Task 12).
_zap_report = boolean : (zap_report and zap_report)
#DOC: Assess if the learner created the ZIP exploit file (Task 11).
_zip_exploit = boolean : (zip_exploit and zip_exploit)
