# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Assess if the learner was successful in triggering Reflected XSS.
rxss = boolean : (rxss_p1 or rxss_p2 or rxss_p3)
#DOC: Assess if the learner registered a user account with an XSS email payload.
sxss_reg = boolean : sxss_reg
#DOC: Assess if the learner accessed the administration section.
sxss_adm = boolean : sxss_adm
#DOC: Assess if the learner submitted a PDF file complaint.
comp_pdf = boolean : comp_pdf
#DOC: Assess if the learner submitted an XML file complaint.
comp_xml = boolean : comp_xml
#DOC: Assess if the learner successfully exploited REST API on Product 2.
apix_p2 = boolean : apix_p2
#DOC: Assess if the learner successfully exploited REST API on Product 6.
apix_p6 = boolean : apix_p6
#DOC: Assess if the learner generated a ZAP report.
zap_rep = boolean : zap_rep
