# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: A subset of the lab goals.
#DOC: Assess if the learner was successful in resetting a password without the end user being notified.
_password = boolean : password
#DOC: Assess if the learner was successful in logging into the server as admin without having the password.
_login_admin = boolean : login_admin
#DOC: Assess if the learner was successful in logging into the server as jim without having the password.
_login_jim = boolean : login_jim 
#DOC: Assess if the learner accessed the scoreboard page.
_score_board = boolean : score_board
#DOC: Assess if the learner provoked a server error.
_error_handling = boolean : error_handling
#DOC: Assess if the learner accessed the deprecated interface.
_deprecated_interface = boolean : deprecated_interface
#DOC: Assess if the learner accessed the premium paywall content.
_premium_paywall = boolean : premium_paywall
#DOC: Assess if the learner accessed the admin section.
_admin_section = boolean : admin_section
#DOC: Assess if the learner forged a feedback comment.
_forged_feedback = boolean : forged_feedback
#DOC: Assess if the learner created a ZAP spider report.
_zap_report_spider = boolean : zap_report_spider
#DOC: Assess if the learner created a ZAP final report.
_zap_report_final = boolean : zap_report_final 

