# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Exploited XXE with evil1.xml to disclose /etc/passwd.
evil1_xxe = boolean : (xxe_etc_passwd_evil1 and xxe_etc_passwd_evil1)
#DOC: Exploited XXE with evil2.xml to disclose /etc/passwd.
evil2_xxe = boolean : (xxe_etc_passwd_evil2 and xxe_etc_passwd_evil2)
#DOC: Modified evil3.xml and disclosed /opt/secret/flag.txt.
evil3_xxe = boolean : (xxe_flag_evil3 and xxe_flag_evil3)
#DOC: Created the required HTML ZAP report.
zap_report = boolean : (zap_report and zap_report)
