# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

# STEVEN
#DOC: Steven Policy
steven_policy = boolean : (_steven_mysqldb and _steven_perfdb and _steven_sysdb and _steven_jobs and _steven_depend and _steven_depart and _steven_managerEmps and _steven_create and _steven_insert and _steven_update1 and _steven_update2)

# SUSAN
#DOC: Susan Policy
susan_policy = boolean : (_susan_mysqldb and _susan_perfdb and _susan_sysdb and _susan_insert and _susan_depend and _susan_depart_insert and _susan_depart_delete)

# NANCY
#DOC: Nancy Policy
nancy_policy = boolean : (_nancy_mysqldb and _nancy_perfdb and _nancy_sysdb and _nancy_emp_view and _nancy_jobs_view and _nancy_depend_view and _nancy_emp_update)

# DAVID
#DOC: David Policy
david_policy = boolean : (_david_mysqldb and _david_perfdb and _david_sysdb and _david_emp_view and _david_emp_insert and _david_emp_update and _david_emp_delete and _david_min_jobs and _david_max_jobs)
