# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

# Task 5: Product Tampering
_product_tampering = boolean : (product_tampering and product_tampering)

# Task 6.2: Admin registration mass assignment
_admin_registered  = boolean : (admin_registered and admin_registered)

# Task 6.3: SQL Injection bypass auth login Jim
_login_jim         = boolean : (login_jim and login_jim)

# Task 7: Forged Feedback IDOR
_forged_feedback   = boolean : (forged_feedback and forged_feedback)

# Task 8: Negative Purchase
_payback_time      = boolean : (payback_time and payback_time)

# Task 9: NoSQL Injection PATCH reviews
_nosql_injection   = boolean : (nosql_injection and nosql_injection)

# Task 10: UNION SQL Injection search
_user_credentials  = boolean : (user_credentials and user_credentials)

# Task 10: sqli.txt on Desktop
_sqli_file         = boolean : (sqli_file and sqli_file)

# Task 11: ZAP Report
_zap_report        = boolean : (zap_report and zap_report)
