    GLOBAL_SETTINGS
    GRADE_CONTAINER attacker
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED attacker_mike_master_seed
    REGISTRY thanhdat317
NETWORK LAN
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
     IP_RANGE 192.168.1.0/24
CONTAINER attacker
     USER ubuntu
     X11 NO
     LAN 192.168.1.3
     NO_GW YES
     NO_PRIVILEGE YES
CONTAINER victim
     USER ubuntu
     X11 NO
     LAN 192.168.1.2
     NO_PRIVILEGE YES
