# goals.config
# 
# Please see the Labtainer Lab Designer User Guide
#DOC: Check if student generated the ZAP traversal report
_zap_report = boolean : zap_report
#DOC: Check if student successfully executed the Insecure Deserialization DoS exploit
_deserial_dos = boolean : deserial_dos
#DOC: Check if student successfully executed the Pug SSTI exploit to read the flag
_ssti_flag = boolean : ssti_flag
